
<h1> It may always not be pretty, but tables in well-designed databases have common columns called Keys that allow them to connect. <br> I have volunteered Barely Balanced (barelybalanced.com) to demonstrate table joins. 
<br> 
<br>

<%= image_tag("BarelyBalancedOne.jpg", width: '500', height: '300') %>
<br>
<br> Example of a Join table.
<br> 
<br> 
	Here Margaret and Cameron are connected by their necks by James's arms.
<br> 
In SQL, a Product table might have a name and product id.   A Category table might have a Category and a category id. <br> A join table like CategorizedProducts would have a categorized_product id, a product id, and a category id. 

<br> 
<br> 
<br> 

 
<%= image_tag("BalancedTableJoins.jpg", width: '600', height: '300') %>
Example of an Inner Join.
<br> 
Here Margaret and Cameron are connected by the feet, while James is left to fend for himself.
<br> 
	In the SQL tables for this website, the columns in Players are <br> 
	<li> PlayerId, First_Name, Last_Name, Gender and Occupation.
<br> The columns in Tattoos are <br> 
	<li> TattooId, Name, and PlayerId. 
	<br> That's right, the Tattoos and Players table were designed to have the PlayerId in common.	

</h1> 
<li><a href="/skills">Let's go back To Skills to Try This Out using Joins </a></li>

