
<h1> SQL is like a fussy cat who eat their dinner only if you give him the right kind of food. 
<br> 
<%= image_tag("fussyCat.jpg", width: '300', height: '150') %>
<br> 
	SQL will give you your data only if you request exactly what the data is named. </h1> 
<h1> For instance, the columns in Players are <br> 
	<li> First_Name, Last_Name, Gender and Occupation.

<br> You will need to spell the columns correctly if you want the data to come to you. 
 <br>If you type “Select FirstName From Players", you receive an error similar to this: 
 <br> 
 "Unknown column ‘FIRSTNAME’ in ‘field list’""

</h1> 
<li><a href="/skills">Let's go back To Skills to Try This Out using "<" </a></li>

<h1> 
<%= image_tag("UnknownColumnName.png", width: '600', height: '300') %>
</h1> 