
<h5> SQL is like a fussy cat who eat their dinner only if you give him the right kind of food. <br> SQL will give you your data only if you request exactly what the data is named. </h5> 
<%= image_tag("fussyCat.jpg", width: '300', height: '150') %> 
<br> 
<h5> For instance, the columns in Players are <br> 
	<li> First_Name, Last_Name, Gender and Occupation.

<br> You will need to spell the columns correctly if you want the data to come to you. 
 <br>If you type “Select FirstName From Players", you receive an error similar to this: <br> 
 <br> 
 "Unknown column ‘FIRSTNAME’ in ‘field list’""<br> 
<%= image_tag("UnknownColumnName.png", width: '600', height: '300') %>
</h5> 
<li><a href="/skills">Let's go back To Skills to Try This Out using "<" </a></li>

<!-- <h1> 
<%= image_tag("UnknownColumnName.png", width: '600', height: '300') %>
</h1>  -->