<h4> <%= image_tag("me.jpg", width: '200', height: '300') %>
Professionally, I am happiest when I am helping people and solving problems using programming. <br>Ongoing education and mentoring others are my passion. I’m a versatile, responsible, forward-thinking information technology professional with demonstrated capabilities in programming, writing, teamwork and creative problem solving. I’m productive, ambitious, hard-working and kind. I bridge the communication gap that may exist between technical and non-technical people.
</h4> 

