</br>

<div class='carousel-blur hero-carousel carousel-blur-arrows carousel-blur-pagination flexslider'>
  <ul class='slides'>
 
    <!-- single carousel item -->
    <li class='item sea'>
      <div class='container'>
        <div class='row'>
          <div class='col-lg-12 animate'>
            <h1 class='big fadeInUp animated'>WELCOME TO STRATEQUAL</h1>
            <a class='btn btn-contrast btn-lg fadeInRight animated' href='/welcome'>
              Welcome
            </a>
          </div>
        </div>
      </div>
    </li>
    <li class='item sea'>
      <div class='container'>
        <div class='row'>
          <div class='col-lg-12 animate'>
            <h1 class='big fadeInUp animated'>LEARN SQL.</h1>
            <a class='btn btn-contrast btn-lg fadeInRight animated' href='/skills'>
              Skills
            </a>
          </div>
        </div>
      </div>
    </li>
    <li class='item sea'>
      <div class='container'>
        <div class='row'>
          <div class='col-lg-12 animate'>
            <h1 class='big fadeInUp animated'>SAVE THE WORLD</h1>
            <a class='btn btn-contrast btn-lg fadeInRight animated' href='/scenarios'>
              Scenarios
            </a>
          </div>
        </div>
      </div>
    </li>

    <li class='item sea'>
      <div class='container'>
        <div class='row'>
          <div class='col-lg-12 animate'>
            <h1 class='big fadeInUp animated'>
It's now <%=Time.now.strftime("%I:%M:%S %p")  %></h1>
            <a class='btn btn-contrast btn-lg fadeInRight animated' href='/scenarios'>
              Start Now
            </a>
          </div>
        </div>
      </div>
    </li>



<!--     <li class='item sea'>
      <div class='container'>
        <div class='row'>
          <div class='col-lg-12 animate'>
            <h1 class='big fadeInUp animated'>
              a little knowledge is dangerous. <br> but it can change you 
              <br>
              in wonderful ways.</h1>

            <a class='btn btn-contrast btn-lg fadeInRight animated' href='#'>
              Fred
            </a>
          </div>
        </div>
      </div>
    </li>
 --> 

 
  </ul>
</div>






