<h1> Oh no! StratIQue has kidnapped your daughter!</h1> 

<h1> https://www.botanical.com/botanical/steapois/poisonix.html
https://www.botanical.com/botanical/steapois/alc04.html
http://www.calpoison.org/hcp/ANTIDOTE_CHART_2012.pdf
</h1> 


<li><a href="/kidnap">Kidnap</a></li>

<li><a href="/poison">Poison</a></li>

<li><a href="/pages">Main</a></li>
<li><a href="/welcome">Welcome</a></li>