<h1> Select Results </h1>
<h1> probably from Select Page </h1>
<h1> Description:
The SELECT statement is used to select data from a database..
Picture 
Select * from Players
results screen shot
</h1> 