selectallkinds.html.erb
<h1>
	If you know what to ask, and have the right connections, you can find anything.

SELECT * FROM PLAYERS  FIRST_NAME LIKE ‘%A%’
SELECT * FROM PLAYERS WHERE GENDER = ‘F’
SELECT * FROM PLAYERS WHERE GENDER = ‘F’ AND LAST_NAME = ‘SOUTH’

</h1> 