<h1>
Probably from Select All page
</h1>
<h1> Select All </h1>
<h1> To get started, you need to know the name of the table you are searching.
Your table is Players. To select all records, type “Select * from Players” in the box below.
Be Sure to type this exactly.
</h1>