selectCubsJoinSox.html.erb
<h1>You can select where the Cubs and the Sox play each other.
</h1>
<h1> You have two great tables! But you can make this even more useful. What if we could join these two tables together, so you can see where the Cubs play the Sox? You can do this using a SQL trick called The Join </h1> 
<h1> Select * from Cubs c INNER JOIN Whitesox w where c.gameid = w.gameid </h1> 