<h6> 
if it is true that <br> a little knowledge is dangerous, <br> 
you will soon be a walking time-bomb.</h6> 
<li> <a href="/pages">Back</a> </li> 

<%= image_tag("Future.jpg", width: '1550', height: '550') %>


