<h1> 
if it is true that a little knowledge is dangerous, you will soon be a walking time-bomb.</h1> 
<!-- <h1> SQL is the weapon of the future </h1> -->



<!-- <h1> You have discovered the StratEqual~nomicron, the mystic book of SQL. Once you open this book, you cannot go back. <h1>
<h1> This book was created by StratIQue, a chaotic demon who feeds on self-doubt, exclusion and non-communication. StratIQue may take many forms</h1> -->
<li><a href="/pages">Welcome Intro</a></li>
<li><a href="/welcome">Welcome</a></li>
<li><a href="/kidnap">Kidnap</a></li>

<!-- <li><a href="/poison">Poison</a></li> -->
<li><a href="/players/new">New Player</a></li>

<%= image_tag("Future.jpg", width: '1500', height: '750') %>


