<h1> 
toDoView.html.erb
</h1>
<li><a href="/players">Main</a></li>
<h2> 
Jeff to do:
<br>
show the Name / Scenario instead of the id number
Figure out how to navigate through the Scenarios
Go through order. 


http://developer.marvel.com/documentation/getting_started
<br> 
get search bar to work
<br>
<br>
get edit to work
<br>
<br>
edit - see 
http://stackoverflow.com/questions/20535025/updating-record-rails-4-no-route-matches-patch-admin-usersupdate
<br>
get individual images to show
<br> 
  config.assets.compile = false
  http://stackoverflow.com/questions/14519997/actioncontrollerroutingerror-no-route-matches-get-assets-images-control-t
<br> 
select locations
<br>
Try different flash messages
Confirm Flash messages work!
<br>
what I want is to show a countdown 
  def minutes_left 
    return((deadline - Time.now) / 60).floor
  end
<br>
create new player - DONE 
then show that player DONE
<br>
add devise
<br>
routes 
<br> 

http://api.rubyonrails.org/classes/ActionView/Helpers/FormTagHelper.html
<br>
https://github.com/dukejones/countdown-timer
<br> 
	Jeff, check out http://guides.rubyonrails.org/active_record_querying.html 
	<br>
	http://stackoverflow.com/questions/14824453/rails-raw-sql-example
<br>
	http://www.w3schools.com/sql/trysql.asp?filename=trysql_select_join
<h3>
<div id="countdown" data-until="2012-12-21" />
$(function() {
  window.timer = new CountDownTimer("#countdown")
})
</h3> 


</h2> 