// Place all the styles related to the player controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input {

}

.ng-enter, .ng-move{
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.ng-leave{
  -webkit-animation: fadeOut 1s;
  -moz-animation: fadeOut 1s;
  -o-animation: fadeOut 1s;
  animation: fadeOut 1s;
}


#form_div {
  width: 300px;
    // margin-top: 100px;
    // margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 50px;  
 
}

.inner_div {
  margin-bottom: 20px;
}

input.add_player_button {
  float: none;
}

header
{
  color: black;
  text-align: center;
  margin: 25px 50px 75px 100px;
    //   margin-top: 100px;
    // margin-bottom: 100px;
    // margin-right: 150px;
    // margin-left: 50px;

}

body {

    background-color: lightblue;
     background-color: linen;
      margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 50px;     
     // background-image: url('AquariumPanorama.jpg');
     // background-size: 100% auto;

     
     // background-size: 1500px 700px;
     // background-size: 3000px 1400px;
    // background-size: 2500px 1150px;

//http://www.sitepoint.com/css3-background-size-property/


}


// body {
//     // background-color: #d0e4fe;
//   }

h1 {
    // color: black;
    font-family: "Times New Roman";
    font-size: 15px;    
    text-align: center;
    // color: navy;
    // margin-left: 20px;
    color: maroon;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 50px;
}


h2 {
    font-family: "Times New Roman";
    font-size: 15px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 50px;
}
h3 {
    font-family: "Times New Roman";
    font-size: 15px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 50px;    
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 50px;


}
h4 {
    font-family: "Times New Roman";
    font-size: 5px;
    text-align: left; 
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 50px;    
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
     margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 50px;   
    // text-align: center;
}


footer 
{
      margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 50px;
}
