// Place all the styles related to the player controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input {

}

#form_div {
  width: 300px;
 
}

.inner_div {
  margin-bottom: 20px;
}

input.add_player_button {
  float: none;
}

body {
    background-color: lightblue;
     background-color: linen;
}

header
{
  color: black;
  text-align: center;
}

// body {
//     // background-color: #d0e4fe;
//   }

h1 {
    // color: black;
    font-family: "Times New Roman";
    font-size: 15px;    
    text-align: center;
    // color: navy;
    // margin-left: 20px;
    color: maroon;
    margin-left: 40px;

}


h2 {
    font-family: "Times New Roman";
    font-size: 15px;

}
h3 {
    font-family: "Times New Roman";
    font-size: 15px;

}
h4 {
    font-family: "Times New Roman";
    font-size: 5px;
    text-align: left; 
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
    // text-align: center;
}


