// Place all the styles related to the scenarios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#form_div {
  width: 300px;
    // margin-top: 100px;
    // margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 50px;  
 
}

.inner_div {
  margin-bottom: 20px;
     margin-right: 100px;
    margin-left: 50px;  
}

h2 {
  margin-bottom: 20px;
     margin-right: 100px;
    margin-left: 50px; 
}

.span6
{
  margin-bottom: 20px;
     margin-right: 100px;
    margin-left: 50px; 
}





