// Place all the styles related to the skills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
    // color: black;
    font-family: "Times New Roman";
    font-size: 5px;    
    text-align: center;
    // color: navy;
    // margin-left: 20px;
    color: maroon;
    margin-left: 40px;

}
