// style.scss
.alert_purple
{ background-color:purple 
}
body
{font-family: Geneva,Tahoma,Verdana,sans-serif;
	// color: SteelBlue;
// color: red;
//background-image: image-url('destroyedfire.jpg');
// background-image: image-url('concrete.jpg');

}
header {text-align: center;	
}
h1 {font-size: 20px;
	// color: yellow;
 }
h2 {font-size: 20px;
		// color: orange;
		width: 400px; 
		// background: SteelBlue;
		text-align: left; 		
 }
h3 {font-size: 20px;
		// color: red;
 }
h4 {font-size: 20px;
 }  
footer {background-color: reina-wood
}